*.class

# Package Files #
*.jar
*.war
*.ear
target
.idea
*.iml
TODO*
.java-version
/data
.ipynb_checkpoints/
/src/test/resources/samples/*
!/src/test/resources/samples/*.cypher
!/src/test/resources/samples/*.ipynb
